Werkzeug==3.1.6
gitdb==4.0.12
wheel==0.46.3
pillow==12.1.1
grpcio==1.78.0
sentry-sdk==2.53.0
google-pasta==0.2.0
rich==14.3.3
setuptools==82.0.0
mdurl==0.1.2
tensorboard==2.20.0
platformdirs==4.9.2
requests==2.32.5
libclang==18.1.1
scikit-learn==1.8.0
urllib3==2.6.3
absl-py==2.4.0
ml_dtypes==0.5.4
tensorflow==2.20.0
gast==0.7.0
namex==0.1.0
six==1.17.0
typing_extensions==4.15.0
charset-normalizer==3.4.4
smmap==5.0.2
scipy==1.17.1
wrapt==2.1.1
pydantic==2.12.5
termcolor==3.3.0
pydantic_core==2.41.5
pip==26.0.1
packaging==26.0
Markdown==3.10.2
PyYAML==6.0.3
threadpoolctl==3.6.0
Pygments==2.19.2
wandb==0.25.0
keras==3.13.2
h5py==3.15.1
markdown-it-py==4.0.0
tensorboard-data-server==0.7.2
MarkupSafe==3.0.3
certifi==2026.2.25
click==8.3.1
annotated-types==0.7.0
opt_einsum==3.4.0
joblib==1.5.3
numpy==2.4.2
idna==3.11
GitPython==3.1.46
typing-inspection==0.4.2
protobuf==6.33.5
flatbuffers==25.12.19
astunparse==1.6.3
optree==0.19.0
